 body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: #fdf4d1;
      margin: 0;
      padding: 0;
      font-family: 'Comic Sans MS';
    }
    header{
      background-color: #ffcc00;
      padding: 10px;
      border-bottom: 5px dashed #d2691e;
    }
    h1 {
      text-align: center;
      color: #5c3d00;
    }
    h2 {
      text-align: center;
      color: #d2691e;
    }
    .container {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }
    .card {
      width: 45%;
    }
    img {
      width: 400px;
      height: auto;
      border-radius: 8px;
      align-items: center;
    }
    table {
      width: 80%;
      margin-top: 30px;
      border-collapse: collapse;
      align-items: center;
      text-align: center;
    }
    td{
      background-color: beige;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #eec834;
    }
    .botao-voltar {
      background-color: orange;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .botao-voltar:hover {
      background-color: darkorange;
    }

    h3, p{
       text-align: center;
       color: #5c3d00;
    }

    footer {
  background-color: #ffcc00;
  text-align: center;
  color: #5c3d00;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 5px dashed #d2691e;
}
